legend {
    font-size: .5rem;
}

a {
    color: #4D0071!important;
    text-decoration: none!important;
    font-weight: bold!important;
}

button {
    background-color: #4D0071;
    width: 40%;
}

body {
    background: linear-gradient(120deg, #4f7ad8 46.9%, white 47%) no-repeat fixed;
}